<section>
  <form fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="standard">
      <mat-label>Courriel</mat-label>
      <input type="email" matInput required>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Prénom</mat-label>
      <input type="text" matInput required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Nom</mat-label>
      <input type="text" matInput required>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Date de naissance</mat-label>
      <input type="date" matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sexe</mat-label>
      <mat-select required>
        <mat-option *ngFor="let sexe of sexes" [value]="sexe.value">
          {{sexe.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput required>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint>minimum de 3 caractères</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Confirmation mot de passe</mat-label>
      <input type="password" matInput required>
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="accent">Créer</button>
  </form>
</section>
