<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Race">
    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>Alfar</mat-grid-tile>
      <mat-grid-tile>Dokalfar</mat-grid-tile>
      <mat-grid-tile>Douaris</mat-grid-tile>
      <mat-grid-tile>Humain</mat-grid-tile>
      <mat-grid-tile>Orc</mat-grid-tile>
    </mat-grid-list> 
  </mat-tab>
  <mat-tab label="Provenance">
    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>Vigmark</mat-grid-tile>
      <mat-grid-tile>Piliers de Langegard</mat-grid-tile>
      <mat-grid-tile>Marche Exilée</mat-grid-tile>
      <mat-grid-tile>Royaume de Stahl</mat-grid-tile>
      <mat-grid-tile>Drasilhelm</mat-grid-tile>
      <mat-grid-tile>Cités de Cyriande</mat-grid-tile>
      <mat-grid-tile>Collines de Varn</mat-grid-tile>
      <mat-grid-tile>Montagnes d'argent</mat-grid-tile>
    </mat-grid-list> 
  </mat-tab>
  <mat-tab label="Religion">
    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>Église Bradorienne</mat-grid-tile>
      <mat-grid-tile>Cycle des Quatre</mat-grid-tile>
      <mat-grid-tile>Dogmatisme de Vineren</mat-grid-tile>
      <mat-grid-tile>Voies de Forsvar</mat-grid-tile>
      <mat-grid-tile>Stoïcisme de Werden</mat-grid-tile>
    </mat-grid-list> 
  </mat-tab>
  <mat-tab label="Classe">
    <mat-grid-list cols="2" rowHeight="6:1">
      <mat-grid-tile>Militaire</mat-grid-tile>
      <mat-grid-tile>Brigand</mat-grid-tile>
      <mat-grid-tile>Croyant</mat-grid-tile>
      <mat-grid-tile>Mystique</mat-grid-tile>
      <mat-grid-tile>Médecin</mat-grid-tile>
      <mat-grid-tile>Artisan</mat-grid-tile>
    </mat-grid-list> 
  </mat-tab>
  <mat-tab label="Détails"> Up 

  </mat-tab>
</mat-tab-group>