<section>
  <form fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field class="form-field" appearance="standard">
      <mat-label>Nom personnage</mat-label>
      <input type="text" matInput required>
    </mat-form-field>
    <app-radio-choice class="form-field" [name]="raceName" [choices]="raceChoices" [(selected)]="raceSelected"></app-radio-choice>
    <app-radio-choice class="form-field" [name]="provenanceName" [choices]="provenanceChoices" [(selected)]="provenanceSelected"></app-radio-choice>
    <app-radio-choice class="form-field" [name]="religionName" [choices]="religionChoices" [(selected)]="religionSelected"></app-radio-choice>
    <app-radio-choice class="form-field" [name]="classeName" [choices]="classeChoices" [(selected)]="classeSelected"></app-radio-choice>

    <strong>Race : {{raceSelected}}</strong>
    <strong>Provenance : {{provenanceSelected}}</strong>
    <strong>Religion : {{religionSelected}}</strong>
    <strong>Classe : {{classeSelected}}</strong>
  </form>
</section>
